body {
    background-color: #D0CEE2;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #D0CEE2;
    top: 0px;
    left: 0px;
    z-index: -2;
}

.background-question {
    background-color: white;
    margin-left: 25%;
    margin-right: 35%;
    margin-top: 1%;
    height: 8%;
    width: 50%;
    border-radius: 20px;
    border: 1px solid black;
}

.container-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes côte à côte */
    grid-template-rows: repeat(2, auto); /* Deux rangées côte à côte */
    gap: 10px; /* Marge entre les éléments (ajuste selon tes préférences) */
}

.background-image {
    margin-top: 5%;
    height: 85%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
}

.image {
    width: 50%;
    height: 90%;
    margin-left: 25%;
    margin-right: 35%;
    margin-top: 2%;
    background-color: white;
    
}

.image:hover {
    box-shadow: 10px 10px 20px black;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.17em;
    margin-top: 5%;
}